/* Colors in UPPERCASE to colour words automatically */

.DEFAULT { -fx-fill: black; }

.RED { -fx-fill: red; }

.GREEN { -fx-fill: green; }

.BLUE { -fx-fill: cyan; }


.defaultStyle { -fx-alignment:center; -fx-background-color:black;}

.defaultButton {-fx-padding:15px;}

.itemNotSelected {-fx-underline: false; -fx-text-fill:white; -fx-background-color:black;  -fx-font-size: 25; -fx-cursor: default;}

.itemSelected { -fx-underline: true; -fx-text-fill:red; -fx-background-color:black; -fx-font-size: 35; -fx-cursor: hand;}

.incorrectWord { -fx-fill: red; -fx-underline: true; }

.correctWord { -fx-fill: green; -fx-underline: true; }